.Tabloid {
    display: flex;
    flex-direction: column;
    align-items: center; /*Изменил ось*/
    justify-content: space-around;
    background-color: #8fcb5d;
    height: 50%;
    width: 50%;
}

.TabloidValue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: #9bc778;
    font-weight: bold;
    font-size: 25px;
}

.TabloidButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: #6f9f4a;
}